<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
{#    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">#}
   {% load static %}
    <!-- Bootstrap -->
    <script type="text/javascript" src="{% static 'noaaWebApp/vendor/jquery/jquery.min.js' %}"> </script>
    <script src="{% static 'noaaWebApp/vendor/bootstrap/js/bootstrap.bundle.js' %}"> </script>
    <link rel="stylesheet" href="{% static 'noaaWebApp/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'noaaWebApp/css/estilos.css' %}">
    <title >Noaa web </title>
</head>
   {%  block content %}

<body class="card-body"  >
    <div class="container">
    <img src="{% static 'noaaWebApp/images/principal.jpg' %}">
        <h1 class="site-heading text-center text-light ">
           {% block title %}
            Home
            {% endblock %}
        </h1>
    </div>

</body>

{%  endblock %}
</html>