<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>Noaa web </title>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">Inicio</a>

    <div class="collapse navbar-collapse" id="navbarNav">
            <a class="navbar-brand" aria-current="page" href = "{% url 'prediction'  %}"> Predicción Satelites </a>
    </div>
  </div>
</nav>

    <h1 class="site-heading text-center text-dark d-none d-lg-block ">
        <span class="site-heading-lower">Noaa web</span>
    </h1>


{%  block content %}

{%  endblock %}

</body>
</html>