
{% extends 'noaaWebApp/home.html' %}

 {% block title %}
        Predicion Satelites
 {% endblock %}

{% load static %}

{% block content %}

    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'prediction' %}">Inicio</a>
      </div>
      <div class = 'dropdown container-fluid'>
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Predicción Satelites </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% for sat in  sat %}
                <a class="dropdown-item" href = "{% url 'prueba' sat.noradId  %}">  {{ sat.name  }}  </a>
            {% endfor %}
        </ul>
      </div>
    </nav>

<div class = "container text-center  bg-dark" >
    <div class="card-body">
        {%  block content2 %}
        {%  endblock %}
    </div>
</div>


{% endblock %}
